.overlay {
  overflow-y: scroll;
  width: 295px;
  height: 334px;
}
ul li {
  list-style: none;
  width: 50%;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
}
